/* MENU */

iframe {
  width: 100%;
  height: auto;
}

header {
  height: 30px;
}


.primeira-dobra-imagem {
  max-height: 650px;
  height: auto;
  width: auto;
  border: #4bbbda dotted 3px;
  background-image: url("/noticias-arquivos/capa-paris.png");
  background-image: no-repeat no-repeat;
  background-size: 1000px, 600px;
}

.card-capa {
  position: relative;
  padding: 0;
  margin: 0;
  border: solid #f8f9fa;
  border-width: 0.2rem 0 0;
}



div {
  display: block;
}

body {
  margin: 0;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  font-family: 'Kanit', sans-serif;
}


.destaques-flex-pai {
  display: flex;
  background-color: #4bbbda;
  height: 600px;
  width: 1200px;
  justify-content: center space-between;
  flex-wrap: wrap;
}

.destaques-flex-filho-g {
  display: flex;
  height: 598px;
  width: 598px;
  background-color: #ffffff;
  border: 1px red solid;
  flex-direction: column;
  justify-content: center space-between;
  flex-wrap: wrap;
}

.destaques-flex-filho-m {
  display: flex;
  height: 292px;
  width: 590px;
  background-color: blue;
  border: 1px solid crimson;
  flex-direction: row;
  justify-content: center space-between;
  flex-wrap: wrap;
}

.destaques-flex-filho-p {
  height: 288px;
  width: 288px;
  background-color: violet;
  border: 1px solid white;
}

.bd-example::after {
  display: block;
  clear: both;
  content: "";
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-img-top{
height: 220px;
width: auto;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  background-color: #6DDCD8;
}

.card-title {
  margin-bottom: 0.75rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif font-weight: 400;
  color: #fffff;
  text-align: left;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}






.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.kanit-thin-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kanit-extralight-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-light-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-regular-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-semibold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-bold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-extrabold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kanit-black {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kanit-black-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: italic;
}
